<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StripePublishableKey</key>
	<string>pk_test_4jaNNNCGZi1gAapUj9B9DFb5</string>
	<key>parseApplicationId</key>
	<string>0e3YLZ108fUvdIXaaurjcSVmY0zRROAieiuQ2LwU</string>
	<key>parseClientKey</key>
	<string>EUXFiDdUGIJao11NNWQepHbCciLrPitVlTFQCPHu</string>
</dict>
</plist>
